html { font-size: 2.4vw; }
@media all and (min-width:1000px) { html { font-size: 24px; } }
@media all and (max-width:520px) { html{ font-size: 18px; } }

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    position: relative; z-index: -10000;
    -webkit-font-smoothing: subpixel-antialiased;  /* corrects safari rendering */

    font-family: "dolly";
    line-height: 1.4;
    font-size: 0.95rem;
    font-feature-settings: "onum" 1, "dlig" 0; /* discretionary ligatures + , "aalt" 2 pour &.alt2 mais transforme les puces en  */
    text-rendering: optimizeLegibility;
}

div#content {                       /* wraps both main and subnavigation */
    padding: 3rem 0 18rem 0;
    margin-left: 12rem;
    margin-right: 2.5rem;
}

@media all and (max-width:520px) {
    div#content {
    margin: 1.5rem;
    padding: 0;
    }
}

titre {
    display: block;
    font-family: libesans-semcon; font-weight: 400; letter-spacing: 0.1em; /* "advocate-c41" */
    font-size: 2.3rem;
    text-transform: none; /*uppercase;*/
    font-style: normal;
    line-height: 1.1;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-top: 1px solid #333;
    padding-top: 0.02em;
    hyphens: none;
}

titre.court {
    font-family: inherit;
    font-size: 170%; text-transform: inherit;
    letter-spacing: normal; /*because of titre letter-spacing: 0.1em*/
    font-style: italic;
    line-height: 1.33; /*addendum*/
    padding-top: 0.1em; /*0.1em;*/
    padding-bottom: 0.15em;
}

titre.normal {
  font-family: inherit;
  font-size: 170%; text-transform: inherit;
  font-style: italic;
  border-top: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.75rem;
  line-height: 1;
}

titre.commentaire {
    font-size: 2.1rem;
    border-top: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.75rem;
    line-height: 1;
    margin-bottom: 0.6rem;
}

groupe-titre {
    margin-bottom: 2em;
    border-top: solid 3px #333;
    padding-top: 5px;
}

groupe-titre titre {
    font-family: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    font-size: 125%;
    line-height: 1.10;
    border-bottom: inherit;
    margin-top: 0rem;
    margin-bottom: 0.8rem;
    font-weight: bolder;
    border-top: 0;
    padding-top: 0;
}

sous-titre {
    display: block;
    font-size: 100%;
    line-height: 1.25;
    font-style: italic;
    hyphens: none;
}

@media all and (min-width:521px) {  /* addendum */
    sous-titre + p {
    margin-top: 0.8em;
    }
}@media all and (max-width:520px) {  /* addendum */
    sous-titre + p {
    font-size: 90%;
    }
}

groupe-titre, aside {
    display: block;
    float: left;
    position: absolute;
    margin-left: 0;
    left: 2.5rem;
    width: calc(2.5rem * 3);
    text-align: right;
    list-style-type: none;
    clear:both; margin-bottom: 1rem;
    font-variant-numeric: normal;
}

@media all and (max-width:520px) {
    groupe-titre, aside { float: inherit;
    position: inherit;
    width: 100%;
    text-align: left;
    }

    aside p {                        /* custom */
    background: #fefefe;
    padding: 0.3rem 0.5rem;
    width: 100%;   /*width: 90%;*/
    border: 1px solid #ccc;
    border-left: 3px solid #ccc;
    }

    aside p.image {                  /* custom */
    background: #fefefe;
    padding: 0.3rem 0.5rem;
    width: 90%;
    border: none;
    border-left: none;
    }

    aside > p:last-child {          /* ??? */
    margin-bottom: 0;
    }
}

@media all and (min-width:1200px) {
    aside {
    left : 0;
    width: calc(2.5rem * 4);
    }
}

aside p {
    font-family: scalasans;  /* "concourse-t3" */
    font-size: 0.85rem;
    line-height: 1.4;
    color: #667;
    letter-spacing: 0.015em;
    hyphens: none;
    font-feature-settings: normal;
}


/*   C O R P S   */

titre + p {
    font-size: 115%;
}

.primo:first-line {                      /* addendum */
    text-transform: lowercase;          /* text-transform does not work in :first-line */
    font-feature-settings: 'c2sc' 1;

    font-family: dolly-caps;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
}

p, li {
    margin-bottom: 1em;
}

.intertitre {
    text-transform: lowercase;
    font-feature-settings: 'c2sc' 1;

    font-family: dolly-caps;
    display: block;
    font-weight: bold; /*bolder;*/
    margin-bottom: 0.8rem;
}

.intertitre {
    margin-bottom: 0.4rem;
    margin-top: 1.4rem;
    line-height: 1.3;
}

.intertitre > a:hover {
    background: none;
}

.intertitre > a:hover:after {
    margin-left: 0.10em;
    color: #999;
    content: " #";
    position: relative;
    top: -0.08em;
}


sig {
    display: block;
    text-align: right;
    text-transform: lowercase;
    font-feature-settings: 'c2sc' 1;
    font-family: dolly-caps;

    margin-bottom: 5em;
    margin-right: 0.5rem;
}


/*   b y   t h e   w a y   */      /* cf ul.children*/

.btw {
    display:block;
    margin-top: 2em;
}

.btw-title {
    display: block;
    text-align: center;
    font-family: scalasans;            /* "concourse-t3" */
    font-size: 0.8rem;
    text-transform: uppercase;
    font-feature-settings: 'case' 1;

    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 1em;
    padding-bottom: 0.6em;
    border-bottom: 4px double #ccc;
    margin-left: 25%;
    margin-right: 25%;
}

.btw li {
    list-style: none;
    margin-left: 1.35rem;
    padding-left: 1.15rem; margin-bottom: 0.7em;
    font-size: 95%;
}

.btw li:before {
    font-family: "concourse-t3-index";
    content: "•"; float:left;
    margin-left: -2.5rem;
    margin-top: 0.1rem;
}


/*   L I E N S   */

a {
    text-decoration: none;
    color: inherit;
    transition-property: background;
    transition-duration: 0.2s;
}

a.xref {
    text-transform: lowercase;
    font-feature-settings: 'c2sc' 1;

    font-family: dolly-caps;
    font-style: normal;
    hyphens: none;
}

a:hover {
    background: #fbf3f3; /* #fbf3f3; */
    transition-property: background;
    transition-duration: 0.2s;

    border-radius: 8px;
}

a:active { color: #777; }

a:after {
    position: relative;
    content: "\FEFF°"; /*Unicode Character 'ZERO WIDTH NO-BREAK SPACE' (U+FEFF)  &#65279; */
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: #933;
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}

a.none:after { content: none; } /* addendum */

div > a:after, a.xref:after,
a.sample-document:after, p.image a:after {  /* mod */
    content: none;
}


/*   I M A G E S   */

image-caption {
    display: block;
    font-family: scalasans; /*"concourse-c4";*/
    text-transform: lowercase;
}

img {                            /*  original est img, et non p img */
    width: 100%;
    filter: grayscale(100%);
    filter: gray;
    transition: all 300ms ease;
}

img:hover {                      /* idem */
    background: none;
    outline: 0px solid gray;
    filter: none;
    cursor: default;
}

aside img {
    margin-bottom: 0.25em;
}

aside img:hover {                      /* custom */
    cursor: auto;
}

p.image a img {
    border: 0px solid gray;
}

p.image a:hover img {
    background: none;
    outline: 0px solid gray;
}

a.sample-document img {
    margin-top: 1rem;
}

a.sample-document:hover {
    background: none;
}


/*   L I S T E S   */

ol {
    counter-reset: foobar;
}

ol li, ul li {
    margin-left: 2.5rem; list-style: none;
}

ol li:before {
    counter-increment: foobar;
    content: counter(foobar);
    font-family: "concourse-t3-index";
    font-size: 1.10rem;
    position: absolute;
    margin-left: -2.5rem;
    line-height: 1.3rem;   /* custom */
}

ul li:before {
    content: "•";
    position: absolute;
    margin-left: -2.5rem;
}

li {
    column-break-inside: avoid;
    break-inside: avoid-column;
}


ul.children { font-size: 95%;      /* double colonne & clôture de BTW */
    column-count: 2;
    column-gap: 2.5rem;

    list-style-type: none;
}

ul.children li {
    margin-left: 2em;
}

ul.children li:before {
    margin-left: -2em;
    padding-right: 1.5em;
    font-weight: bold; /*custom*/
    position: static;              /* because they're in columns */
}

@media all and (max-width:520px) {
    ul.children {
    font-size: 100%;
    column-count: 1;
    column-gap: 2em;
    }
}

ul.children li {
    margin-bottom: 0;
    padding-bottom: 1em;
}

.oli {                     /* addendum*/
    margin-left: 2em;
    margin-bottom: 1em;
    display:block;
}
.oli li {                  /* addendum*/
    font-size: 100%;
    margin-left: 0rem
}
.oli li:before {           /* addendum*/
    counter-increment: foobar;
    content: counter(foobar);
    font-family: "concourse-t3-index";
    font-size: 1.10rem;
    position: relative;
    top: -0.12rem;
    margin-left: -2.5rem;
}


/*   T A B L E A U X   */

table { margin-bottom: 1.5em;
    border-collapse: collapse;
    width: 95%;
}

table tr + tr {
    border-top: 1px solid #ccc;
}
table td + td {
    border-left: 1px solid #ccc;
}

table td {
    padding: 0.4em;
    text-align: center;
    hyphens: none;
}

table th {
    font-family: scalasans-caps;  /* "concourse-c4" */
    font-weight: normal;
    text-transform: lowercase;
    font-size: 95%;
    padding: 0.3rem 0.5rem ;
    line-height: 1.05;
}

/*   d o u b l e   c o l o n n e   */

/*   N A V I G A T I O N   L A T É R A L E   */

a.nav {
    color: white;
}

a.nav:after {
    content : none;
}

#prev {
    left: 0;
    border-left: 1rem solid white;
}

#prev:hover {
    border-left-color: #fcf6f6;
}

#next {
    right: 0;
    border-right: 1rem solid white;
}
#next:hover {
    border-right-color: #fcf6f6; /*#f6f6d7*/
}

.side {
    top: 0;
    bottom: 0;
    width: 5rem;
    z-index: -1000;;
    transition-property: border-color;
    transition-duration: 0.2s;

    border: solid 0px grey;
    position: fixed;
}


/*   T A B L E   D E   N A V I G A T I O N   ( iter_navigator)   */

#navigator {
    margin: auto;
    left: 2.5rem;
    right: 2.5rem;
    max-width: 1000px;
    font-size: 0.9rem;
    text-transform: lowercase;
    font-family: scalasans-caps;;  /* concourse-caps; */
    line-height: 1.25;
    font-feature-settings: "c2sc";
    /* user-select needs a browser prefix */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navigator {
    clear: both;
    position: fixed;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background: white;
    }

#navigator.collapsed {
    display: none;
}

#navigator.visible {
    visibility: visible;
    opacity: inherit;
}

@media all and (max-width:520px) {
    #navigator {
    min-width: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
    position: static;
    }
}

#navtable {
    display: flex;
    flex-wrap: nowrap;
    opacity: 1;
    z-index: 1;
    border-top: 1px solid gray;
    height: 3.5rem;
}

@media all and (max-width:520px) {
    #navtable {
    flex-wrap: wrap;
    height: auto;
    font-size: 100%;
    }
}

#navtable > div:first-child, #navtable > div:last-child {
     width: 50%;
     flex-grow: 1;
}

@media all and (max-width:520px) {
    #navtable > div:first-child, #navtable > div:last-child {
     width: 100%;
     flex-grow: 0;
    }
}

@media all and (max-width:520px) {
    #navtable > div.center {
     flex-grow: 1;
    }
}

#navtable > div:first-child a {
    padding-right: 1em;
    text-align: left;
}

#navtable > div.center a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.8em;    /* addendum */
    text-align: center;
}

#navtable > div a {        /* addendum */
    padding-top: 0.55em;
}

#navtable > div:last-child a {
    padding-left: 1em;
    text-align: right;
}

#navtable > div+div {
    border-left: 1px solid rgba(100, 100, 100, 0.3);
}

@media all and (max-width:520px){
    #navtable > div+div {
    border-left: 0;
    border-top: 1px solid gray;
    }
    .center + .center {
    border-left: 1px solid gray;
    }
}

#navtable li:first-child .box-link {
    padding-right: 1em;
}
#navtable li:last-child .box-link {
    padding-left: 1em;
}

.arrow {
    font-family: "concourse-t3";
}

.box-link {
    color: #999;
    cursor: pointer;
    padding: 0.3em;
    background: white;
}

.box-link {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 1em;
    height: 100%;
    vertical-align: inherit;
}

#navtable > div:hover { background-color: none; /*#f0f0f0;*/
    background: none; /*#fcf5f5;*/
    background: radial-gradient(circle at top, #ffffff 5%, 100%); /*radial-gradient(circle at top, #ffffff 5%, #fcf5f5 100%);*/
}

.box-link:hover{
    color: black;
    opacity: 1;
    text-decoration: none;
    background-color: inherit;
}


/* $$$$$$$$$  */

aside em {
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 0px;
}

run-in {
text-transform: lowercase;
padding-right: 0.4em;
font-family: "concourse-c4";
}

strong {
    font-weight: bolder;
}

op {
    font-style: italic;
}

caps {
    text-transform: lowercase;
    font-family: dolly-caps;
}
@media all and (max-width:520px) {
  .nobr br { display: none;} }

@media all and (max-width:520px) {
  .desktop-only {display: none} }
@media all and (min-width:521px) {
  .mobile-only {display: none} }

/*   g u i l l e m e t   */

dops, sops { display: initial; }
/* double chevron : dolly */
dopla { margin-left: -0.66em; }        /* ¶ *//*-0.598em;*/
dops { margin-right: 0.66em; }    /* 0.606em; */
dopl { margin-left: -0.66em; }  /* -0.606em; */
/* chevron simple : dolly */
sopla { margin-left: -0.598em; }        /* ¶ */
sops { margin-right: 0.37em; }
sopl { margin-left: -0.37em; }
/* à l'anglaise : dolly */
dopsen, sopsen { display: initial; }
dopsen { margin-right: 0.41em; }
doplen { margin-left: -0.41em; }
sopsen { margin-right:  ; }
soplen { margin-left:   ; }


/*   C H E C K B O X   */

/* The container */
.checkcon {
  display: block;
  position: relative;
  padding-left: 1.4rem;
  margin-bottom: ;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.35rem;
  left: 0;
  height: 1.2vh;
  width: 1.2vh;
  border: 0.05rem solid black;
}
/* On mouse-over, add a grey background color */
.checkcon:hover input ~ .checkmark {
  background-color: ;
}

/* When the checkbox is checked, add a blue background */
.checkcon input:checked ~ .checkmark {
  background-color: #ffffff;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcon input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcon .checkmark:after {
  left: -0.3rem;
  top: -0.6rem;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: ;/*0 1px 1px 0;*/
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  content:"☚";
}

.strikethrough:checked + span{
  text-decoration:line-through
}


/*   d e c l i n e   a n d   f a l l   o f   t h e   */

/* sujet du paragraphe */

aside.segment {
  margin-bottom: 0.35rem;
}

.segment p {
    color: #000000;
    font-family: dolly;
    font-style: italic;
    font-size: 85%;
}

@media all and (min-width:521px) {
    .segment p {
    padding-top: 0.07em;
    }
}

@media all and (max-width:520px) {
    .segment p {
    display: none;
    font-style: italic;
    font-size: 80%;
    padding: 0;
    width: 100%;   /*width: 90%;*/
    border: none;
    border-left: none;
    }
}

/* notes marginales internes */

input.margin-toggle {
    display: none;
}
label.margin-toggle:not(.sidenote-number) {
    display: inline; }
    .marginnote {
    display: none; }
    .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;/*95%;*/
    margin: 0.7rem 0rem 0.7rem 0.5rem;     /*margin: 1rem 2.5%;*/
    padding-right: 2.5rem;
    vertical-align: baseline;
    position: relative;
}

label {
    cursor: pointer;
}

label:hover {
    background: #fbf3f3; /* #fbf3f3; */
    transition-property: background;
    transition-duration: 0.2s;

    border-radius: 8px;
}
label:active { color: #777; }

label.margin-toggle:after {
    position: relative;
    content: "\FEFF°";
    margin-left: -0.1em;
    font-size: 90%;
    top: -0.10em;
    color: #933;
    font-feature-settings: "caps";
    font-variant-numeric: normal;
    overflow-x:  visible;
}

.marginnote {
    font-family: scalasans;
    text-align: justify;
    font-size: 95%;
    line-height: 1.26rem;
}
