:root {

    --colour: rgb(201	65	59	);
    --colour: rgb(102	175	199	);
    --colour: rgb(235	221	93	);
    --colour: rgb(200	208	212	);
    --colour: rgb(41	47	51)	;
    --colour: rgb(41	47	51)	;
    --colour: rgb(194	90	69	);
    --colour: rgb(223	220	211	);
    --colour: rgb(105, 70, 32);
    --colour: rgb(105, 70, 32);
    --colour: rgb(138, 201, 177);
    --colour: rgb(214	208	146	);
    --colour: rgb(187	126	123);
    --colour: rgb(187	174	68	);
    --colour: rgb(187	174	68	);
    --colour: rgb(75	76	69	);
    --colour: rgb(200	208	212	);
    --colour: rgb(25	41	23	);
    --colour: rgb(201	65	59	);
    --colour: rgb(235	221	93	);
    --colour: rgb(200	208	212	);
    --colour: rgb(41	47	51)	;
    --colour: rgb(41	47	51)	;
    --colour: rgb(194	90	69	);
    --colour: rgb(223	220	211	);
    --colour: rgb(105, 70, 32);
    --colour: rgb(105, 70, 32);
    --colour: rgb(152, 213, 228);
    --colour: rgb(214	208	146	);
    --colour: rgb(187	126	123);
    --colour: rgb(187	174	68	);
    --colour: rgb(187	174	68	);
    --colour: rgb(75	76	69	);
    --colour: rgb(200	208	212	);
    --colour: rgb(212	164	66	);
    --colour: rgb(157	205	211	);
    --colour: rgb(243, 248, 170);
    --colour: rgb(25	41	23	);


    --ca: #005756;
    --cb: #c9413b;
    --cc: #cf4658;
    --cd: #ffa24b;
    --ce: #f8bf55;
    --cf: #d4edfc;
    --cg: #fcddd4;
    --ch: #aa4146;
    --ci: #b90f47;
    --cj: #ffe8a1;
    --ck: #b9956f;
    --cl: #b08b63;
    --cm: rgb(64,	93,	123)	;
    --cn: rgb(175,	191,	196)	;
    --co: #42362a;
    --cp: #0d276e;
    --cq: rgb(20,	62,	83	);
    --cr: #4e3f30;
    --cs: #ebbb35;
    --ct: #dbb3f3;
    --cu: #a2fff8;
    --cv: #bee3f9;
    --cw: #905e3f;
    --cx: #a3dae6;
    --cy: #005756;
    --cz: #1f7d32;
    --da: #a300ff;
    --db: #ff0083;
    --dc: #ff6c00;

    --ç1:   #463c3c;
    --c2:   #583140;
    --c2v2: #5e2d40;
    --ç3:   #fc5856;
    --ç4:   #fcc4b6;
    --ç5:   #f68210;

    --c1: var(--cy);
    --c1: #583140;
    --c1: #5e2d40;
    --c2: var(--cp);
    --c2: #fc5856;
    --c3: var(--cw);
    --c3: #fc5856;
    --c4: var(--cb);
    --c4: #fcc4b6;

    --a1: #5e2d40;
    --a2: #2d305e;
    --a4: #3c4d8e;
    --a6: #20352c;
    --a7: #30387b;
    --a8: #435386;
    --a9: #435386;
    --a10: #45458a; 
    --a11: #63638e;
    --a12: #d09343;
    --a13: #3e3e75;
    --a14: #dd8e26;
    --a15: #444479;
    --a5: #44407d;
    --a3: #4f3d91;


/* palette */



}